<h1>タスクの一覧</h1>
<ul class="list-unstyled">
  <% @tasks.each do |task| %>
      <div class="media-body">
        <div>
           <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
        </div>
      </div>
  <% end %>
  <%= paginate @tasks %>
</ul>
<%= link_to '新規投稿', new_task_path %>